
.time-text {
    font-size: 55;
    font-family: SevilleSharp-Regular;
    text-length: 60;
    x: 75%;
    y: 63%;
    fill: black;
    text-anchor: middle;
}

.time-text.shadow {
  x: 226;
  y: 190;
  fill: #343434;
}

.countdown-text {
    font-size: 40;
    font-family: SevilleSharp;
    x: 9;
    y: 158;
    text-length: 7;
}

.countdown-text.shadow {
  x: 10;
  y: 159;
  fill: #323232;
}

.set-text {
    font-size: 40;
    font-family: SevilleSharp-Regular;
    x: 186;
    y: 135;
    text-length: 7;
}

.set-text.shadow {
  x: 187;
  y: 136;
  fill: #323232;
}

.circ {
    x: -150;
    y: 0%;
    start-angle: 0;
    sweep-angle: 180;
    width: 300;
    height: 300;
    arc-width: 20;
}

#circBack {
    x: -150;
    y: 0%;
    start-angle: 0;
    sweep-angle: 180;
    width: 300;
    height: 300;
    arc-width: 20;
    fill: #404040;
}

/*Red Theme*/
.background-red {
    viewport-fill: indianred;
}

.text-red {
    fill: #5d0013;
}

.arc-red {
    fill: darkred;
}

/*Black Theme*/
.background-black {
    viewport-fill: black;
}

.text-black {
    fill: #bababa;
}

.arc-black {
    fill: white;
}

/*White Theme*/
.background-white {
    viewport-fill: white;
}

.text-white {
    fill: #343434;
}

.arc-white {
    fill: black;
}

/*Blue Theme*/
.background-blue {
    viewport-fill: cornflowerblue;
}

.text-blue {
    fill: lightsteelblue;
}

.arc-blue {
    fill: blue;
}

