
.time-text {
    font-size: 55;
    font-family: System-Regular;
    text-length: 60;
    x: 168;
    y: 59;
    fill: white;
    text-anchor: middle;
}

.time-text.shadow {
  x: 169;
  y: 60;
  fill: #343434;
}

.countdown-text {
    font-size: 35;
    font-family: System-Regular;
    x: 168;
    y: 214;
    text-length: 7;
    text-anchor: middle;
    fill: white;
}

.countdown-text.shadow {
  x: 169;
  y: 215;
  fill: #323232;
}

.set-text {
    font-size: 40;
    font-family: System-Regular;
    x: 168;
    y: 179;
    text-length: 7;
    text-anchor: middle;
    fill: white;
}

.set-text.shadow {
  x: 169;
  y: 180;
  fill: #323232;
}

.circ {
    x: 17;
    y: 90;
    start-angle: 270;
    sweep-angle: 180;
    width: 300;
    height: 300;
    arc-width: 40;
    fill: royalblue;
}

#circBack {
    x: 17;
    y: 90;
    start-angle: 270;
    sweep-angle: 180;
    width: 300;
    height: 300;
    arc-width: 40;
    fill: #404040;
}

.background-black {
    viewport-fill: black;
}

.text-black {
    fill: #bababa;
}

.arc-black {
    fill: white;
}

.application-fill           { fill: fb-cyan; }
.start-button-fill           { fill: fb-green; }
.foreground-fill            { fill: fb-white; }
.background-fill            { fill: fb-black; }

#button-1 #text {
  text-buffer: "Reset";
}

#button-2 #text {
  text-buffer: "Continue";
}

#button-start #text {
    text-buffer: "Start";
  }